.header {
    height: 500px;
    background-color: #fff;
}

    .header h1 {
        margin-top: 200px;
        color: black;
        font-size: 45px;
        text-align: center;
    }

.headerBtn {
    height: 50px;
    width: 200px;
    border: 3px solid #80bfff;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    color: slategray;
    background-color: #fff;
    margin-top: 30px;
}

    .headerBtn:hover {
        color: white;
        background-color: #80bfff;
    }

   
.midSec {
    height: 300px;
    background-color: #80bfff;
    width: 100%;

}

.glyphicon.glyphicon-piggy-bank {
    font-size: 75px;
    margin-top: 50px;
    display: block;
    text-align: center;
    color: #fff
}

.glyphicon.glyphicon-hourglass {
    font-size: 75px;
    margin-top: 50px;
    display: block;
    text-align: center;
    color: #fff
}

.glyphicon.glyphicon-folder-open {
    font-size: 75px;
    margin-top: 50px;
    display: block;
    text-align: center;
    color: #fff;
}

#iMoveR {
    margin-left: 100px;
}

#iMoveL {
    margin-right: 100px;
}

#midSecPR {
    text-align: center;
    color: #fff;
    margin-left: 100px;
    margin-top: 20px;
    font-size: 15px;
}

#midSecPC {
    text-align: center;
    color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    font-size: 15px;

}

#midSecPL {
    margin-right: 100px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
}

/*Template*/

.templateHome {
    background-color: #f2f2f2;
    height:1100px;
}

.progressBars {
    width: 500px;
    background-color: lightgray;
    height: 40px;
    margin-left: 25px;
    margin-bottom: 15px;
    border-radius: 2px;
}

#gPbar1 {
    background-color: #80bfff;
    height: 40px;
    width:66%;
    border-radius: 2px;
}

#gPbar2 {
    background-color: #00cc99;
    height: 40px;
    width:48%;
    border-radius: 2px;
}

#gPbar3 {
    background-color: #00cc99;
    height: 40px;
    width:26%;
    border-radius: 2px;
}

#gPbar4 {
    background-color: #00cc99;
    height: 40px;
    width: 90%;
    border-radius: 2px;
}

#gPbar5 {
    background-color: #80bfff;
    height: 40px;
    width: 51%;
    border-radius: 2px;
}

#gPbarOverall {
    background-color: #00cc99;
    height: 50px;
    width: 27%; 
}

.progressBarMain {
    width: 700px;
    background-color: lightgray;
    height: 50px;
    margin-left: 25px;
    margin-bottom: 15px;
    border-radius: 2px;
    position: relative; 
}

/*PreFooter*/

.preFooter {
    height: 140px;
    width: 100%;
    background-color: lightslategray;
}

.freeAccount {
    padding-top: 30px;
    font-size: 20px;
    color: white;
    text-align: center;
}
#footerBtn {
    border: 2px solid #00cc99;
    background-color: lightslategray;
    color: white;
    height: 40px;
    width: 200px;
    border-radius: 2px;
}

#footerBtn:hover {
    border: 3px solid #80bfff;
}

/*closing*/

.closing {
    height: 200px;
    background-color: #80bfff;
    width: 100%;
}

#closingi {
    margin-top: 100px;
    color: #fff;
    margin-right: 50px;
}
