body {
  
    overflow-x: hidden;
    margin-right:0;
    margin-left: 0;
}

a:focus {
    outline: none;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}



.homeNavBar {
    background: transparent;
    min-height: 75px;
    
}

.backgroundChange {
    
    background: rgba(128, 191, 255,0.9);
}


.transition {    
  -webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

#homeNavTitle {
     color: #fff;
    font-family: 'Raleway', sans-serif;
    padding-top: 28px;
    font-size: 23px; 
    margin-left: -45px; 
    float: left; 
}

#homeNavLogo {
      color: #fff;
       margin-top: -5px;
       margin-left: 20px;
       height: 3em;
          
}

.navbar-toggle {
    margin-right: 32px;
    margin-top: 18px;
}

#homeLogin {
    visibility: hidden;
}

#homeRegister {
    visibility: hidden;
}

   navbar-toggle {  
    margin-top: 20px;
    margin-right: 20px;
}

#collapseMenu {
    font-size: 35px;
    margin-top: 25px;
    margin-right: 50px;
    color: #fff;
}

#navIconsSmall {
    font-size: 15px;
    color: #fff;
    margin-right: 5px;
}

#homeNavList {
    visibility: hidden;
}



@media screen and (min-width: 800px) {


    #homeRegister {
    font-size: 18px;
    color: #fff;
    margin-top: 25px;
    margin-right: 20px;
    visibility: visible; 
    font-family: 'Questrial', sans-serif; 
 }

    #homeLogin {
    font-size: 18px;
    color: #fff;
    margin-top: 25px;
    background-color: transparent;
    border: none;
    outline: none;
    visibility: visible;
    font-family: 'Questrial', sans-serif;
    }   
    
    #collapseMenu {
        visibility: hidden;
        margin-right: 0;
    } 

    .signUpBtn {
        height: 30px;
        width: 120px;
        margin-left: 10px;
        margin-top: 25px;
        border: none;
        color:#fff;
        border-radius: 2px;
        background-color: #00cc99;
        outline: none;
    }

    .signUpBtn:hover {
        background-color: #00A37A;
    }
}

.container-fluid {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;

}
#navIcon {
    color: #80bfff;
    padding-top: 10px;
    margin-right: 5px;
    margin-left: 20px;
}

#mainNav {
    height: 60px;
    /*background-color: rgba(255,255,255, 0.9);*/
    background-color: transparent;
}
 .navLogin {
        height: 30px;
        width: 100px;
        color: #fff;
        background-color: rgba(243,243,243,0.4);
        border-radius: 2px;
        font-size: 18px;
        border: none;
        margin-top: 10px;
        font-family: 'Questrial', sans-serif;
        margin-right: 20px;
    }

 .navLogin:focus {
     outline:none;
 }




.navTable td {
    padding-top: 25px;
    margin-right: 10px;
}



#navTitleAccount a:hover {
    text-decoration: none;
}

a.navTitleLink {
    text-decoration: none;
}
#userNameNav {
    padding-top: 13px;
    font-family: 'Questrial', sans-serif;
}


#navIconAccount {
    color: #fff;
    margin-top: 5px;
    float: left;
    margin-left: 40px;
}

#mainNavAccount {
    height: 60px;
    background-color: rgba(128,191,255,0.8);
}

.nav li {
	display: inline;
	color: white;
}



#mainAccountNav {
    height: 60px;
    padding-bottom: 10px;
    background: #80bfff;
}


.navbar-inverse {
    border: none;
}

.navTitleLink {
    padding-top: 21px;
    margin-left: 10px;
    color: #fff;
    font-size: 23px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    float: left;
}

.navTitleLink:hover {
    color: #fff;
    cursor: pointer;
}


#userNameHome {
    text-align: right;
    font-size: 18px;
    color: #fff;
    margin-right: 15px;
    font-family: 'Questrial', sans-serif;
    padding-top: 35px;
    padding-bottom: 20px;
    cursor: pointer;
}

#userNameAccount {
    text-align: right;
    font-size: 18px;
    color: #fff;
    margin-right: 15px;
    font-family: 'Questrial', sans-serif;
    padding-top: 25px;
    padding-bottom: 20px;
    cursor: pointer;
}


#navLogout {
     text-align: right;
    font-size: 18px;
    color: #fff;
    margin-right: 50px;
    font-family: 'Questrial', sans-serif;
    padding-top: 35px;
    padding-bottom: 20px;
    cursor: pointer;
}

#navLogoutAccount {
    text-align: right;
    font-size: 18px;
    color: #fff;
    margin-right: 50px;
    font-family: 'Questrial', sans-serif;
    padding-top: 25px;
    padding-bottom: 20px;
    cursor: pointer;
}

#rightNavAccount a {
    text-align: right;
    font-size: 18px;
    color: #fff;
    margin-right: 15px;
    font-family: 'Questrial', sans-serif;
    background-color: transparent;
}

#rightNavAccount a:active {
    background-color: transparent;
}

#rightNavAccount a:focus {
    border-bottom: 4px solid #fff;
}


