



/*overall Income and PBars*/
#goalBar {
    height: 40px;
    width: 90%;
    
    margin: 0 auto;
    background-color: lightgray;
    border-radius: 2px;   
    position: relative;
   
}

#goalBar[value]::-webkit-progress-bar {
    background-color: lightgray;
    height: 40px;
    width: 100%;
}

#goalBar[value]::-webkit-progress-value {
     background-image:    
	   -webkit-linear-gradient(
	                           rgb(128,191,255), 
	                           rgb(128,191,255)),
	   -webkit-linear-gradient(left, #80bfff, #80bfff, #80bfff);

    border-radius: 2px; 
    background-size: 35px 40px, 100% 100%, 100% 100%; 
}

progress {
    height: 40px;
    width: 100%;
    margin-left: 40px;
}

progress[value]::-webkit-progress-bar {
  background-color: lightgray;    
  height: 40px;
  width: 100%;
  
   margin-bottom: 50px;
  /*border-radius: 8px;*/ 
  margin-left: 35px; 
}

progress[value]::-webkit-progress-value {        
  background-image:    
	   -webkit-linear-gradient(
	                           rgb(0,204,153), 
	                           rgb(0,204,153)),
	   -webkit-linear-gradient(left, #00cc99, #00cc99, #00cc99);

    border-radius: 2px; 
    background-size: 35px 40px, 100% 100%, 100% 100%; 
    
   
   
}
.newIncome {
    height: 30px;
    width: 120px;
    border-top: #fff;
    border-right: #fff;
    border-left: #fff;
    border-bottom: 2px solid lightslategray;
    padding-top: 10px;
    margin-top: 15px;
    margin-left: 60px;
    font-family: 'Questrial', sans-serif;
    outline: none;
}

.newIncomeBtn {
    height: 30px;
    width: 30px;
    background-color: #80bfff;
    padding-top: 3px;
    border: none;
    margin-left: 5px;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}

.newIncomeBtn:hover {
    background-color: lightslategray;
}


.mainAccountMain {
    background-color: #f2f2f2;
    margin-top: 0px;
    height: auto;
}

.mainCategories {
    background-color: #f2f2f2;
    height: auto;
    width: 100%;
    padding-bottom: 20%;
}


.overallIncome {
    margin-top: 100px;
    border-radius: 5px;
    height:auto;
    width: 100%;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto; 
    padding-bottom: 20px;   
}

.overallTitle {
    font-size: 35px;
    margin-left: 30px;
    padding-top: 15px;
    font-family: 'Questrial', sans-serif;
}

.overallP {
    padding-top: 12px;
    font-size: 25px;
    color: #fff;
    margin-left: 20px;
   
    
}

.overallBudget li {
    display: inline;
    list-style-type: none;
     
}

.overallBudget {
    list-style-type: none;
}



.accountOverallDiv {
    height: 50px;
    width: 85%;
    background-color: lightgray;
    margin-left: 25px;
    border-radius: 2px;
    position: relative;

    
}

.accountLeftOver {
    font-size: 30px;
    color: black;
     font-family: 'Droid Serif', serif;
    float: right;
    margin-right: 80px;
    padding-top: 10px;
   
      
}

#accountToGo {
    font-size: 25px;
    color: black;
    margin-left: 7px;
    font-style: italic;
}

.editIncome {
    height: 30px;
    width: 120px;
    border-top: #fff;
    border-right: #fff;
    border-left: #fff;
    border-bottom: 2px solid lightslategray;
    padding-top: 10px;
    margin-top: 15px;
    margin-left: 25px;
    font-family: 'Questrial', sans-serif;
    outline: none;
}


#incomeIcons {
    font-size: 15px;
    color: #fff;
}

/*modalBtns*/

.modal-content {
    margin-top: 100px;
}

#modalRemoveI {
    font-size: 18px;
    color: lightslategray;
    margin-top: -9px;
    margin-right: -5px;
    float: right;
}

#modalRemoveI:hover {
    cursor: pointer;
}
.modal-header h3 {
    font-family: 'Questrial', sans-serif;
    font-size: 25px;
}

#newBudgetBtn {
   
    width: 40%;
    background-color: #00cc99;
    border: none;
    border-radius: 2px;
    margin-top: 3%;
 
  
    
    
}
#addBudgetIcon {
  
    font-size: 25px;
    margin-right: 5px;
    color: #fff;   
}

#addNew {
    font-family: 'Questrial', sans-serif;
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
   
}

#newGoalP {
    color: #fff;
    font-size: 18px;
    margin-top: 7px;
    font-family: 'Questrial', sans-serif;
   
}

#addBudgetIcon:hover {
    cursor: pointer;
}

#addNew:hover {
    cursor: pointer;
}

#newGoalBtn {
    width: 40%;
    
    background-color: #80bfff;
    border: none;
    border-radius: 2px;
    
 
   
    margin-top: 3%;
}

/*Main Bars*/

.mainBudgets {
    height: 225px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;    
}

.addBudgetBtn {
    height: 35px;
    width: 160px;
    background-color: #00cc99;
    border: none;
    border-radius: 2px;
    color: white;
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
}

.addGoalBtn {
    height: 35px;
    width: 160px;
    background-color: #80bfff;
    color: white;
    border-radius: 2px;
    border: none;
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
}

.budgetTitle {
    font-size: 30px;
    padding-top: 15px;
    margin-left: 20px;
   font-family: 'Questrial', sans-serif;
}

.budgetLists {
    list-style-type: none;
}

.budgetLists li {
    display: inline;
    list-style-type: none;
    
}

#budgetIconDelete {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 20px;
    color: lightslategray;  
}


.accountBars {
    width: 90%;
    height: 40px;
    background-color: lightgray;
    border-radius: 2px;   
    position: relative;
    margin-left: 0px;   
}



.budgetP {
    font-size: 25px;
    color: black;
    margin-left: 0px;
    float: left;
    padding-top: 10px;
    font-family: 'Droid Serif', serif;
}

.mainOf {
    font-size: 20px;
    font-style: italic;
    color: black;
    font-family: 'Droid Serif', serif;
    margin-right: 2px;
}

.progressP {
    font-size: 30px;
    color: black;
    margin-left: 20px;
    
    padding-top: 10px;
    float: left;
font-family: 'Droid Serif', serif;

}
.of {
    font-size: 25px;
    color: black;
    font-style:italic;
    margin-right: 2px;
}

.mainDivLeftOver {
    font-size: 25px;
    color: black;
    float: right;
   
    margin-right: 40px;
    padding-top: 10px;
    font-family: 'Droid Serif', serif; 
}

#mainDivToGo {
    font-size: 20px;
    color: black;
    margin-left: 7px;
    font-style: italic;
}

#addNminusIcons1 {
    font-size: 14px;
    color: #fff;
    margin-top: 20px;
    margin-left: 100px;
    height: 25px;
    width: 25px;
    background-color: #00cc99;
    border-radius: 5px;
    position: absolute;  
    padding-top: 7px;
    padding-left: 7px;  
}

#addNminusIcons1:hover {
   background-color: lightslategray;
    cursor: pointer;
    color: #fff;
}

#addNminusIcons2 {
    font-size: 14px;
    color: #fff;
    margin-top: 20px;
    margin-left: 150px;
    height: 25px;
    width: 25px;
    background-color: #00cc99;
    border-radius: 5px;
    position: absolute;  
    padding-top: 7px;
    padding-left: 7px; 
}


#addNminusIcons2:hover {
   background-color: lightslategray;
    cursor: pointer;
    color: #fff;
}



.addNminusFields {
    width: 90px;
    outline: none;
    height: 22px;
    font-size: 17px;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    border-bottom: 2px solid lightslategray;
    border-radius: 2px;
    margin-left: 35px;
    margin-top: 20px;
     font-family: 'Questrial', sans-serif;
}

#submitIcon {
    font-size: 18px;
    color: lightslategray;
    margin-left: 5px;

}

/*Goals*/


.savingsTitles {
    font-size: 25px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

.savingsInMainGoalDiv {
     border: 4px solid #80bfff;
     border-radius: 10px;
     height: 50px;
     width: 150px;
     margin-right: 200px;
     margin-left: 200px;
     padding-top: 10px;
     padding-bottom: 10px;
}






.mainGoals {
    width: 100%;
    height: 225px;
    background-color: #fff;
    margin-top: 20px;
    position: relative;
    border-radius: 5px;
    margin-right: auto;
   margin-left: auto;
}

.goalTitle {
    font-size: 25px;
    font-family: 'Questrial', sans-serif;
    margin-top: 40px;
    float: left;
}

#goalIconDelete {
    top: 5px;
    right: 10px;
    font-size: 20px;
    color: lightslategray;
    position: absolute;
}

.goalToGo {
    font-size: 25px;
    color: black;
    
    padding-top: 10px;
    float: right;
    margin-right: 40px;
    font-family: 'Droid Serif', serif;
    
}

#addToGoal {
       font-size: 14px;
    color: #fff;
    margin-top: 20px;
    margin-left: 5px;
    height: 25px;
    width: 25px;
    background-color: #80bfff;
    border-radius: 5px;
    position: absolute;
    padding-top: 7px;
    padding-left: 7px;
}

#addToGoal:hover {
    background-color: lightslategray;
    cursor: pointer;
}

.goalFields {
    width: 90px;
    height: 22px;
    font-size: 17px;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    border-bottom: 2px solid lightslategray;
    border-radius: 2px;
    margin-left: 35px;
    margin-top: 20px;
    font-family: 'Questrial', sans-serif;
}




#goalTogoP {
    font-size: 20px;
    color: black;
    font-style: italic;
}





