body {
}

.main {
    background-color: #fff;   
}

.localLogin {
    text-align: center;
    margin-top: 100px;
    width: 35%;
    margin: 150px auto;  
}

.loginHeader {
   font-family: 'Questrial', sans-serif;
   font-size: 25px;
   text-align: left;
}

.loginQuestion {
    font-size: 15px;   
    color: black;
    font-family: 'Questrial', sans-serif;
}

.loginQuestion:hover {
    cursor: pointer;
}


.socialLogin {
    text-align: center;
    margin-top: 100px;
}

.loginBtn {
    margin-top: 10px;
    background-color: #80bfff;
    height: 40px;
    width: 350px;
    border-radius: 5px;
    color: white;
    border: none;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.loginInputCat {
    border: 1px solid #e1e8ed;
    border-radius: 3px;
    margin-bottom: 15px;
    height: 40px;
    width: 350px;
    padding-left: 10px;
    font-size: 18px;
    font-family: 'Questrial', sans-serif;
}

.loginInputCat:focus {
    border-color: #00cc99;
}


.loginInput {
    border: 1px solid #e1e8ed;
    border-radius: 3px;
    margin-bottom: 15px;
    height: 40px;
    width: 350px;
    padding-left: 10px;
    font-size: 18px;
    font-family: 'Questrial', sans-serif;
}

.loginInput:focus {
    border-color: #80bfff;
}


.fbSignIn {
    background-color: #3b5998;
    height: 40px;
    width: 350px;
    border-radius: 5px;
    color: white;
    border: none;   
    text-align: left;   
}

.googleSignIn {
    background-color: #db4437;
    height: 40px;
    width: 350px;
    border-radius: 5px;
    color: white;
    border: none;
    text-align: left;
    margin-top: 20px;
}

#LogInIcon {
    color: #fff;
    margin-left: 10px;
    padding: 0;
    position: absolute;
}



.loginSpan {
    margin-left: 45px;
    font-size: 16px;   
}

.modalH {
    font-size: 18px;
    font-family: 'Questrial', sans-serif;
}

#removeGlyph {
    margin-left: 550px;
    color: gray;
}

#removeGlyph:hover{
    cursor: pointer;
}