<div class="modal-header">
    <i id="modalRemoveI" class="fa fa-times" ng-click="modal.closeModal()" aria-hidden="true"></i>

    <center>
        <h3 class="modalTitles">New Goal</h3>
    </center>
</div>

<div class="modalInputs">
    <div class="modal-body">
        <center>
            <form ng-submit="modal.addGoal(goal)">
                <input placeholder="Name" ng-model="goal.name" class="loginInput" />
                <br />
                <input placeholder="Amount" ng-model="goal.amount" class="loginInput" />
                <br />
                <button type="submit" ng-click="modal.closeModal()" class="addGoalBtn">Add</button>
            </form>
        </center>
    </div>
</div>