
<div class="header">
    <center>
        <div class="container">
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-10">
                    <h1>Helping you put a leash on your budget</h1>
                    <h3>We'll help guide you towards your finnacial goals one day at a time.</h3>
                    <!--Should be a simple fix(routing)-->
                    <button href="/register" class="headerBtn">Get Started</button>
                </div>
                <div class="col-md-1">

                </div>
            </div>
        </div>
    </center>
</div>
<div class="midSec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <i class="glyphicon glyphicon-piggy-bank" id="iMoveR"></i>
            </div>
            <div class="col-md-4">
                <i class="glyphicon glyphicon-hourglass"></i>
            </div>
            <div class="col-md-4">
                <i class="glyphicon glyphicon-folder-open" id="iMoveL"></i>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="pull-right" id="midSecPR">Create an organized plan to save money and watch your savings grow.</p>
            </div>
            <div class="col-md-4">
                <p id="midSecPC">See how long it will take to save up for the things you want. BudgetBook will take a certain percentage out of your paycheck to reach your timeline goal so you dont have to.</p>
            </div>
            <div class="col-md-4">
                <p id="midSecPL">Manage your monthly bills and payments better while keeping track of your weekly spendings.</p>
            </div>
        </div>
    </div>
</div>

 <div class="templateHome">
        
            <div class="container-fluid">
                <div class="overallIncome">
                    <div class="container">
                    <div class="row">

                        <div class="col-md-12">
                            <table class="overallBudget">
                                <tr>
                                    <td><p class="overallTitle">Total</p></td>
                                    <td><p class="accountLeftOver">$1,458<span id="accountToGo">left</span></p></td>
                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <td>
                                        <div class="progressBarMain">
                                            <div id="gPbarOverall" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"><p class="overallP">$572 of $1,458</p></div>
                                        </div>
                                    </td>   
                                </tr>
                                </table>
                                <table>
                                <tr>
                                    <td><input ng-model="controller.monthlyIncome" class="newIncome" placeholder="New Income" type="number" /><button ng-click="controller.addIncome(income)" class="newIncomeBtn"><i class="fa fa-plus" aria-hidden="true" id="incomeIcons"></i></button></td>

                                    <td><input ng-model="controller.eIncome" class="editIncome" placeholder="Edit (Ex. 10, -10)" type="number" /><button class="newIncomeBtn"><i class="fa fa-pencil" id="incomeIcons" aria-hidden="true"></i></button></td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
                </div>

                
                
                        
                <div class="mainCategories">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">

                                <button id="newBudgetBtn"><p id="addNew"><i id="addBudgetIcon" class="fa fa-plus fa-lg" aria-hidden="true"></i>New Category</p></button>

                                <div class="mainBudgets">
                                    <table class="budgetTables">
                                        <tr>
                                            <td><p class="budgetTitle">Groceries</p></td>
                                            <td><p class="mainDivLeftOver">$360<span id="mainDivToGo">left</span></p></td>
                                            <td><i id="budgetIconDelete" class="fa fa-times" aria-hidden="true" ng-click="controller.deleteBudget(budget.id)"></i></td>
                                        </tr>
                                    </table>
                                    <table>
                                        <tr>
                                            <td>
                                                <div class="progressBars">
                                                    <div id="gPbar2" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"><p class="progressP">$240 of $500</p></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa fa-plus" aria-hidden="true" id="addNminusIcons1"></i><input class="addNminusFields" placeholder="Edit Current" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="col-md-6">

                                <button id="newGoalBtn"><p id="newGoalP"><i id="addBudgetIcon" class="fa fa-plus fa-large"></i>New Goal</p></button>

                                <div class="mainGoals">
                                    <table class="goalsTable">
                                        <tr>
                                            <td><p class="goalTitle">Ski Trip</p></td>
                                            <td><p class="goalToGo">$400 <span id="goalTogoP">to go</span></p></td>
                                            <td><i id="goalIconDelete" class="fa fa-times" aria-hidden="true"></i></td>
                                        </tr>
                                    </table>
                                    <table>
                                        <tr>
                                            <td>
                                                <div class="progressBars">
                                                    <div id="gPbar1" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"><p class="progressP">$800 of $1200</p></div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <i id="addToGoal" class="fa fa-plus" aria-hidden="true"></i>
                                                <input placeholder="+ or -" class="goalFields" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mainBudgets">
                                <table class="budgetTables">
                                    <tr>
                                        <td><p class="budgetTitle">Gas</p></td>
                                        <td><p class="mainDivLeftOver">$93<span id="mainDivToGo">left</span></p></td>
                                        <td><i id="budgetIconDelete" class="fa fa-times" aria-hidden="true" ng-click="controller.deleteBudget(budget.id)"></i></td>
                                    </tr>
                                </table>
                                <table>
                                    <tr>
                                        <td>
                                            <div class="progressBars">
                                                <div id="gPbar3" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"><p class="progressP">$32 of $125</p></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="fa fa-plus" aria-hidden="true" id="addNminusIcons1"></i><input class="addNminusFields" placeholder="Edit Current" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                            <div class="col-md-6">
                                <div class="mainGoals">
                                    <table class="goalsTable">
                                        <tr>
                                            <td><p class="goalTitle">Car</p></td>
                                            <td><p class="goalToGo">$4500 <span id="goalTogoP">to go</span></p></td>
                                            <td><i id="goalIconDelete" class="fa fa-times" aria-hidden="true"></i></td>
                                        </tr>
                                    </table>
                                    <table>
                                        <tr>
                                            <td>
                                                <div class="progressBars">
                                                    <div id="gPbar5" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"><p class="progressP">$3300 of $6500</p></div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <i id="addToGoal" class="fa fa-plus" aria-hidden="true"></i>
                                                <input placeholder="+ or -" class="goalFields" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                    </div>
                        <div class="row">
                            <div class="col-md-6">
                        <div class="mainBudgets">
                            <table class="budgetTables">
                                <tr>
                                    <td><p class="budgetTitle">Weekends</p></td>
                                    <td><p class="mainDivLeftOver">$360<span id="mainDivToGo">left</span></p></td>
                                    <td><i id="budgetIconDelete" class="fa fa-times" aria-hidden="true" ng-click="controller.deleteBudget(budget.id)"></i></td>
                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <td>
                                        <div class="progressBars">
                                            <div id="gPbar4" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"><p class="progressP">$270 of $300</p></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-plus" aria-hidden="true" id="addNminusIcons1"></i><input class="addNminusFields" placeholder="Edit Current" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        </div>
                        </div>
                        </div>
                    </div>
                </div>
     </div>


                        <div class="preFooter">
                           <p class="freeAccount">Make a free account today.</p>
                            <center>
                            <button id="footerBtn" onclick="location.href='/register'">Get Started</button>
                             </center>                      
                    </div>
                
            
        
        


<div class="closing">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <center>
                <i id="closingI" class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                <i id="closingI" class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                <i id="closingI" class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                <i id="closingI" class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
                <i id="closingI" class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
            </center>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
